[submodule "externals/teqp"]
	path = externals/teqp
	url = https://github.com/usnistgov/teqp.git
[submodule "externals/ChebTools"]
	path = externals/ChebTools
	url = https://github.com/usnistgov/ChebTools.git
